ingress:
  # ingress.enabled -- Enable ingress
  enabled: true
  ingressClassName: ""
  # ingress.annotations -- Example `kubernetes.io/ingress.class: nginx` for Nginx Ingress
  annotations: {}
  hosts:
    - host: echo-server.{{ .Values | get "ingressSuffix" "lol" }}
      paths:
        - /
  tls: []